.table-container {
    position: relative;
    width: 100%;
    overflow-x: auto;
    margin-bottom: 0.5rem;
    overflow: hidden;
}

.table-main {
    border-radius: 0.5rem;
    width: 100%;
    border-collapse: separate; /* Separate border model */
    border-spacing: 0;
    overflow: hidden;
    outline: 1px solid var(--table-border);
}

.table-header {
    border-top: 1px solid var(--table-border);
}

.table-footer {
    color: var(--table-border);
}

.table-row {
    align-items: center;
    border-radius: inherit;
}

.table-head,
.table-cell {
    text-align: center;
    border: 1px solid var(--table-border);
}

.table-caption {
    margin-top: 4px;
    font-size: 14px;
    color: var(--text-color);
}

.table-row:hover {
    background-color: var(--label-bg);
}

.isolated-column-right-end {
    text-align: center;
    border: 1px solid var(--table-border); 
    margin-left: 50px;
    display: block; /* Treat table cell as a block-level element */
}

.isolated-column-left-end {
    text-align: center;
    border: 1px solid var(--table-border);
    margin-right: 50px;
    display: block; /* Treat table cell as a block-level element */
}

.isolated-column-middle {
    text-align: center;
    border: 1px solid var(--table-border);
    margin-right: 50px;
    margin-left: 50px;
    display: block; /* Treat table cell as a block-level element */
}