.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
}

.pagination-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.pagination-ellipsis {
    display: flex;
    height: 1.5rem;
    width: 1.5rem;
    align-items: center;
    justify-content: center;
}
