.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1px;
    transition: all 0.3s ease;
}

.pagination-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.pagination-ellipsis {
    display: flex;
    height: 1.5rem;
    width: 1.5rem;
    align-items: center;
    justify-content: center;
}

.pagination-previous {
    padding: 6px;
    vertical-align: middle;
    margin: inherit;
    cursor: pointer;
}

.pagination-next {
    padding: 6px;
    vertical-align: middle;
    margin: inherit;
    cursor: pointer;

}